@page "/questions/delete/{id:guid}"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using EnglishQuizApp.Models
@using EnglishQuizApp.Data
@inject NavigationManager Navigation
@inject IDbContextFactory<EnglishQuizApp.Data.EnglishQuizAppContext> DbFactory

<h3>Delete Question</h3>
<p>Are you sure you want to delete this question?</p>

<button @onclick="ConfirmDelete" class="btn btn-danger">Yes, Delete</button>
<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>

@code {
    [Parameter] public Guid Id { get; set; }

    async Task ConfirmDelete()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var question = await context.Questions.FindAsync(Id);
        if (question != null)
        {
            context.Questions.Remove(question);
            await context.SaveChangesAsync();
        }
        Navigation.NavigateTo("/questions");
    }

    void Cancel() => Navigation.NavigateTo("/questions");
}
