@page "/ugo"
@inherits LayoutComponentBase

<PageTitle>Ugo</PageTitle>

<div class="main">
    <header>
        <h1>Welcome Ugo</h1>
    </header>

    <div class="content">
        @Body
        @welcomeMessage <hr />
        this is the story of a good man
       
    </div>

    <h1>This is heading 1</h1>
    <p>This is some text.</p>
    <hr>
    <h2>This is heading 2</h2>
    <p>This is some other text.</p>
    <hr>

    <footer>
        This is the footer
    </footer>
</div>

@code {
    private string welcomeMessage = "We ❤️ Blazor!";
}
